.featured-profile {
    margin: 115px 0px;
}

.feature-profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.feature-profile-header .view-more {
    font-size: 1.125px;
    line-height: 27px;
    color: var(--main-color);
}

.featured-profile .content {
    position: relative;
}

.personal-profile-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.personal-profile-cards {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    position: relative;
    transition: all .5s ease;
}

.personal-profile-card {
    box-shadow: 0px 2px 28px 0px #3E35780A;
    width: 374px;
    height: 238px;
    padding: 40px 0px 40px 40px;
    margin-right: 40px;
    border-radius: 18px;
}

.personal-profile-card:hover .btn-rating {

    border: 1px solid var(--orange-color);
    background-color: white;
    color: var(--orange-color);

}

.personal-profile-card .information, .personal-profile-rating {
    display: flex;
    align-items: center;
}

.personal-profile-card .information>div:last-child {
    margin-left: 23px;
}

.personal-profile-rating {
    margin-top: 29px;
    margin-right: 40px;
    justify-content: space-between;
    height: 46px;
}

.personal-profile-rating img {
    width: 16px;
    height: 16px;
}

.personal-profile-rating .value {
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    margin-left: 6px;
}

.btn-rating {
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 23px;
    height: auto;
    background-color: var(--orange-color);
    color: white;
}


.personal-profile-avatar {
    width: 84px;
    height: 84px;
    border-radius: 46px;
    background-color: var(--default-color);
    position: relative;
}

.personal-profile-status {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--green-color);
    border: 4px solid white;
    bottom: -6px;
    right: -4px;
}

.personal-profile-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.personal-profile-position {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    font-family: 'Open Sans';
}

.featured-profile .btn-left {
    background-color: var(--main-color);
    position: absolute;
    align-self: center;
    box-shadow: 0px 19px 29px 0px #3E357824;
    width: 60px;
    left: -30px;
    top: 180px;
}

.featured-profile .btn-right {
    background-color: var(--main-color);
    position: absolute;
    align-self: center;
    box-shadow: 0px 19px 29px 0px #3E357824;
    width: 60px;
    right: -30px;
    top: 180px;
}

.featured-profile .btn-right:hover, .featured-profile .btn-left:hover {
    transform: scale(1.1);
}

@media only screen and (max-width:1920px) {
    .personal-profile-card {
        width: 400px;
        margin-right: 60px;
    }
}

@media only screen and (max-width:768px) {
    .featured-profile .btn-right, .featured-profile .btn-left {
        display: none;
    }

    .personal-profile-container {
        overflow-x: scroll;
    }

    .personal-profile-container::-webkit-scrollbar {
        /* height: 2px;
        width: 100%; */
        width: 5px;
        height: 4px;
        /* or add it to the track */
    }

    .personal-profile-container::-webkit-scrollbar-thumb {
        background: var(--orange-color);
    }
}