.footer {
    background-color: var(--background-black);
}

.footer .content {
    display: flex;
    padding: 143px 0px 141px;
    justify-content: space-between;
}

.footer .col-1 {
    width: 427px;
}

.footer .col-1 .text {
    font-family: Open Sans;
    line-height: 24px;
    color: white;
    font-weight: 400;
    margin-top: 52px;
}

.footer .col-1 .social {
    margin-top: 32px;
    display: flex;
}

.footer .col-1 .social i {
    width: 58px;
    height: 58px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    font-size: 1.25rem;
}

.footer .col-1 .social i:hover {
    background-color: var(--blue-light);
    color: white;
}

.footer h5 {
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    margin-bottom: 24px;
    line-height: 30px;
}

.footer .content .cover {
    display: flex;
    width: 580px;
    justify-content: space-around;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    margin-bottom: 20px;
    line-height: 24px;
    cursor: pointer;
}

.footer ul li, .col-5 i, .col-5 p {
    color: white;
}

.footer .col-5 div {
    display: flex;
    width: 385px;
}

.footer .col-5 div:nth-of-type(2) {
    margin: 40px 0px 30px;
}

.footer .col-5 p {
    margin-left: 16px;
    width: 285px;
}

.footer .copy-right {
    display: flex;
    justify-content: space-between;
    padding: 27px 0px 33px;
}

.footer h3 {
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.footer .copy-right span {
    color: red;
}


@media only screen and (max-width:1920px) {
    .footer .col-5 div {
        width: auto;
    }
}

@media only screen and (max-width:1400px) {
    .footer .content {
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .footer .content .cover {
        margin-bottom: 20px;
    }

    .footer .content .col-1 {
        width: 100%;
    }

    .footer .content .cover, .footer .content .col-5 {
        margin: 15px 0px;
        justify-content: space-between;
    }
}

@media only screen and (max-width:1200px) {
    .footer .content {
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .footer .col-5 div {
        width: auto;
    }

    .footer .content .cover {
        width: 500px;
    }
}

@media only screen and (max-width:992px) {
    .footer .content .cover {
        width: 360px;
    }
}

@media only screen and (max-width:768px) {
    .footer .content {
        padding: 50px 0px;
    }

    .footer .content .cover {
        width: 360px;
    }

    .footer .content .cover {
        width: 100%;
    }

    .footer .content {
        flex-direction: column;
    }

    .footer h3 {
        text-align: center;
    }

    .footer .col-5 p{
        width: auto;
    }
}