@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Propins, Helvetica, sans-serif;
    color: var(--text-color);
    transition: all .4s ease;
    font-size: 16px;
}

h1 {
    font-size: 3.75rem;
    line-height: 80px;
    font-weight: 600;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 75px;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 48px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}

p {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

:root {
    --main-color: #5F4BDB;
    --text-color: #363848;
    --background-color: #F8F9FD;
    --second-color: #F0EEFF;
    --third-color: #B2C3FF;
    --default-color: #C4C4C4;
    --light-violet: #D7D0FB;
    --green-color: #30C736;
    --orange-color: #FE8D4D;
    --btn-more: #F7F5FF;
    --background-black: #1F2131;
    --blue-light: #3CB5DB;
}

.container {
    width: 1620px;
    margin: auto;
}

.btn {
    padding: 17px;
    font-size: 1.125rem;
    line-height: 27px;
    font-weight: 600;
    outline-style: none;
    border: none;
    border-radius: 30px;
    height: 60px;
    cursor: pointer;
}


@media only screen and (min-width:1400px) {
    .container {
        width: 1320px;
    }
}

@media only screen and (min-width:1920px) {
    .container {
        width: 1620px;
    }
}



@media only screen and (max-width: 1399px) {
    html {
        /* font-size: 14px; */
    }

    .container {
        width: 1140px;
    }
}

@media only screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    html{
        font-size: 14px;
    }
}

@media only screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
}


@media only screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}