.main-banner {
    background-color: var(--background-color);
    height: 813px;
}

.main-banner .content {
    display: flex;
    flex-direction: row;
}

.main-banner .information {
    width: 810px;
    padding-top: 156px;

}

.information .bars {
    margin-top: 86px;
    display: flex;
}

.information .bars .bar {
    width: 21px;
    height: 6px;
    margin-right: 6px;
    background-color: var(--light-violet);
    border-radius: 3px;

}

.information .bars .bar-active {
    width: 39px;
    background-color: var(--main-color);

}

.main-banner .title {
    width: 650px;
    margin-bottom: 24px;
    font-family: Poppins;
}

.main-banner .title span {
    font-family: Poppins;
}

.text-main-color {
    color: var(--main-color);
}

.main-banner .description {
    width: 531px;
}

.main-banner .option {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
}

.main-banner .btn-discover {
    padding-left: 30px;
    padding-right: 30px;
    width: 197px;
    background-color: var(--main-color);
    color: white;
}

.main-banner .watch-demo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 22px;
}

.main-banner .watch-demo-btn {
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner .watch-demo-text {
    margin-left: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.main-banner .big-circle {
    width: 575px;
    height: 575px;
    border-radius: 287px;
    background-color: var(--third-color);
    margin-left: 116px;
    margin-top: 194px;
    position: relative;
}

.main-banner .top-circle {
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: var(--third-color);
    right: 58px;
    top: -10px;
    border-radius: 17px;
}

.main-banner .bottom-circle {
    position: absolute;
    width: 54px;
    height: 54px;
    right: 11px;
    bottom: 133px;
    border-radius: 27px;
    background-color: var(--main-color);
}

.main-banner .group-cirlce-top {
    left: -46px;
    position: absolute;
}

.main-banner .group-cirlce-bottom {
    right: -63px;
    bottom: 86px;
    position: absolute;
}

.main-banner .emoji {
    position: absolute;
    top: -117px;
    right: 153px;
}

.main-banner .card {
    display: flex;
    padding: 26px;
    border-radius: 17px;
    width: 416px;
    height: 154px;
    flex-direction: row;
    position: absolute;
    z-index: 0;
    bottom: 65px;
    right: 427px;
}

.main-banner .card::after {
    background-color: white;
    opacity: 74%;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    border-radius: 17px;

}

.main-banner .avatar {
    background-color: var(--default-color);
    height: 100%;
    width: 102px;
    border-radius: 17px;
}

.main-banner .person-info {
    margin-left: 16px;
    position: relative;
}

.main-banner .person-info .position {
    line-height: 21px;
    padding: 12px 0px 12px;
}

.main-banner .person-info .star {
    margin-left: 5px;
}

.main-banner .person-info .confirm {
    position: absolute;
    display: flex;
    right: -84px;
    top: 19px;
}

.main-banner .person-info .confirm .check {
    margin-right: 22px;
}

.main-banner .bars-chart {
    position: absolute;
    top: 100px;
    right: -150px;
}