.newsletter-signup {
    margin-top: 230px;
    background-color: var(--background-black);
}

.newsletter-signup .content {
    height: 366px;
    padding: 107px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.newsletter-signup .content .discription {
    font-family: Poppins;
    font-size: 2.75rem;
    font-weight: 600;
    line-height: 76px;
    width: 789px;
    color: white;
}

.newsletter-signup .input-subscribe {
    position: relative;
    width: 546px;
}

.newsletter-signup .input-subscribe input {
    height: 80px;
    width: 546px;
    left: 331px;
    border-radius: 60px;
    background-color: transparent;
    outline: none;
    padding: 28px 78px 28px 37px;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 25px;
    color: white;
    border: 1px solid #363843;
    display: flex;
    align-items: center;
}

.newsletter-signup .input-subscribe .btn-subscribe {
    height: 60px;
    width: 196.7949981689453px;
    left: 670px;
    top: 1511px;
    border-radius: 37px;
    background-color: var(--orange-color);
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 340px;
    top: 10px;
}