.steps {
    padding: 55px 0px 60px;
    display: flex;
    align-items: end;
}

.steps .left-heading .how-it-works {
    color: var(--main-color);
    padding-bottom: 15px;
}

.steps .left-heading {
    width: 650px;
}

.steps .left-heading .title {
    margin-bottom: 62px;

}

.step-card {
    min-height: 120px;
    border-radius: 20px;
    /* box-shadow: ; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 24px;
    /* background-color: var(--third-color); */
    box-shadow: 0px 7px 22px 0px #8F86C328
}

.steps .active {
    box-shadow: 0px 19px 29px 0px #3E357825;
}

.steps .active .description {
    margin-top: 14px;
}

.step-card .number {
    width: 84px;
    height: 84px;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 54px;
}

.step-card .card-content {
    /* padding-left: 29px; */
    width: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.step-card .card-content .description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 26px;
    color: #909090;
}

.step-card .card-content .title {
    margin-bottom: 0px;
}

.step-card .card-content .open-btn {
    position: absolute;
    right: 4px;
}

#step-1 .number {
    background-color: #F6EBFF;
    color: #8E22E2;
}

#step-2 {
    margin: 34px 0px;
}

#step-2 .number {
    background-color: #E7E9FF;
    color: #2B3DC7;
}

#step-3 .number {
    background-color: #E9FFEF;
    color: #3DCD65;
}

.step-right-side {
    background-color: var(--default-color);
    margin-left: 162px;
    width: 753px;
    height: 660px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.step-right-side .btn-play-video {
    position: absolute;
}

.step-right-side .video {
    width: 753px;
    height: 660px;
    border-radius: 40px;
}

.step-right-side .top-circle {
    position: absolute;
    top: -57px;
    left: 130px;
}

.step-right-side .zigzag-line {
    position: absolute;
    bottom: 100px;
    left: -40px;
}

.step-right-side .chart {
    position: absolute;
    top: 96px;
    right: -95px;
    box-shadow: 0px 11px 39px 0px #00000012;
    border-radius: 17px;
}

@media only screen and (max-width:1400px) {
    .steps {
        flex-wrap: wrap;
        justify-items: center;
    }

    .steps .step-right-side {
        margin-top: 40px;
    }

    /* .steps .step-right-side . */
}


@media only screen and (max-width:1920px) {
    .step-right-side {
        transform: scale(0.8);
        margin-left: 0px;
    }

    .step-right-side .chart {
        transform: scale(0.8);
    }
}

@media only screen and (max-width:1400px){
    .steps{
        justify-content: center;
    }
}